<% layout('/layouts/boilerplate') -%>

<body>
    <br>
    <br>
    <h3>Login on Wanderlust</h3>
    <br>
    <form action="/login" method="post" class="needs-validation" >
        <input type="text" name="username" placeholder="enter username" required>
        
        <br><br>
        
        <input type="password" name="password" placeholder="enter password" required>
        <br><br>
        <button class="addBtn btn btn-dark">Login</button>
        <br><br>
        
    </form>
</body>